<!DOCTYPE html>
<html>
<head>
	<title>Spam Mail Prediction</title>
</head>
<body>
	<h1>Upload Image</h1>
	<form method="POST" action="/convert_image" enctype="multipart/form-data">
		<input type="file" name="image">
		<button type="submit">Convert Image</button>
	</form>
	<h1>Add text</h1>
	<form method="POST" action="/predict">
		<input type="text" name="message" id="message" placeholder="Enter your content">
		<button type="submit">Send</button>
	</form>
    <br>
    <h1>Text Output Box Example</h1>
    <textarea rows="10" cols="50" readonly>{{response_text}}</textarea>
</body>
</html>
